server:
  port: 8080
spring:
  application:
    name: "job_search"
  mvc:
    static-path-pattern: /static/**
  freemarker:
    expose-request-attributes: true
  datasource:
    url: jdbc:h2:./db/test;AUTO_SERVER=TRUE
    username: root
    password: qwerty
    driver-class-name: org.h2.Driver
  liquibase:
    change-log: classpath:/db/changelog/master.yml
management:
  endpoints:
    web:
      exposure:
        include: "*"
logging:
  level:
    root: info
    org:
      springframework:
        security: debug
    kg:
      attractor:
        quiz_platform: debug
  logback:
    file: logs/application.log
springdoc:
  api-docs:
    path: /v3/api-docs
